Language: CppStandard: c++20BasedOnStyle: GoogleColumnLimit: 120UseTab: NeverAllowShortFunctionsOnASingleLine: EmptyIndentPPDirectives: AfterHashSortIncludes: trueFixNamespaceComments: trueInsertBraces: trueQualifierAlignment: LeftPointerAlignment: RightReferenceAlignment: RightSortUsingDeclarations: LexicographicNumericInsertNewlineAtEOF: trueLambdaBodyIndentation: OuterScopeMaxEmptyLinesToKeep: 1KeepEmptyLines:  AtStartOfFile: false  AtStartOfBlock: false  AtEndOfFile: falseLineEnding: LF